SELECT user_id, first_name, last_name, COUNT(s.id) as salary_records, SUM(CASE WHEN s.is_locked THEN 1 ELSE 0 END) as locked_count, SUM(CASE WHEN NOT s.is_locked THEN 1 ELSE 0 END) as unlocked_count FROM employee_profiles e LEFT JOIN salaries s ON e.user_id = s.user_id GROUP BY e.user_id, e.first_name, e.last_name ORDER BY e.first_name;
